<%- include('partials/header') %>

    <div class="container-fluid">

        <h1>Favorite Property details</h1>
        <p>Property ID: <%= user.property_id %>
        </p>
        <p>User ID: <%= user.user_id %>
        </p>
        <p>Ratings: <%= user.ratings %>
        </p>
        <form action="/favorites/<%=user._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete Favorites</button>
        </form>
        <p>
            <a href="/favorites">Back to list</a>
        </p>
    </div>

    <%- include('partials/footer') %>