<%- include('partials/header') %>

<div class="row">

    <% users.forEach(function(user){ %>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">User id <%= user.user_id %><br></h5>
        <p class="card-text">
          <small class="text-muted">
         Check Out <%= user.check_out %><br>
          </br>
         No of Days <%= user.no_of_days %><br>
          </br>
         Amount paid <%= user.amount_paid %><br>
          </br>
         property_id <%= user.property_id %><br>
        </br>
        Check IN <%= user.check_in %>
       
      </br>
    payment id  <%= user.payment_id %><br>
          </small>
        </p>

        <a href="/reservations/<%= user._id %>" class="btn btn-primary">Show details</a>
      </div>
    </div>

    <% }); %>


  </div>
    
<p>
<a href="/users/properties">Back to list</a>

</p>
</div>



<%- include('partials/footer') %>
