<%- include('partials/header') %>
<div class="row">
    <div class="d-flex justify-content-end">
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="signup.html">User Signup</a></li>
            <li><a class="dropdown-item" href="userLogin.html">User Login</a></li>
            <li><a class="dropdown-item" href="#">Contact us</a></li>
            <li><a class="dropdown-item" href="#">Help</a></li>
        </ul>
    </div>
    <h3 align="center" style="background-color: blanchedalmond">Welcome to Property Listing page</h3>
    <div class="form-group col-md-4">
        <button type="button" id="cart" class="btn btn-outline-dark active"><a href="/users/reservations/page" style="text-decoration: none; color: white">My Reservations</a></button>
        <button type="button" id="Favorites" class="btn btn-outline-dark active"><a href="/users/favorites" style="text-decoration: none; color: white">My Favorites</a></button>
        <button type="button" id="LogOut" class="btn btn-outline-dark active"><a href="/users/logout" style="text-decoration: none; color: white">LogOut</a></button>
    </div>
</div>
    <div class="row">
      <% props.forEach(function(pr){ %>
        <div class="card" style="width: 18rem;">
          <img src="images/<%= pr.path %>" class="thumbnail" alt="..." style="width:200px; height:200px">
          <div class="card-body">
            <h5 class="card-title">
              <%= pr.name%> - <%= pr.city_name %>
            </h5>
            <p class="card-text">
              <small class="text-muted">
                <%= pr.host %><br>
                  </br>
                  <%= pr.night_fee %><br>
                    </br>
                    <%= pr.host %><br>
                      </br>
                      <%= pr.amenities %><br>
              </small>
            </p>
            <a href="http://localhost:9000/users/properties/<%= pr._id %>" class="btn btn-primary">Show details</a>
          </div>
        </div>
        <% }); %>
    </div>
    <%- include('partials/footer') %>
  </div>