<%- include('partials/header') %>

    <div class="container-fluid">
        <div class="card" style="background-color:beige;">
            <h1>Property Details</h1>

            <p><img src="/images/<%= pr.path %>" /></p>
            <p>Name: <%= pr.name %>
            </p>
            <p>City Name: <%= pr.city_name %>
            </p>
            <p>Ratings: <%= pr.ratings %>
            </p>
            <p>Host: <%= pr.host %>
            </p>
            <p>Amenities: <%= pr.amenities %>
            </p>
            <p>Night Fee: <%= pr.night_fee %>
            </p>
            <p>Cleaning Fee: <%= pr.cleaning_fee %>
            </p>
            <p>Service Fee: <%= pr.service_fee %>
            </p>
            <p>No of Bedrooms: <%= pr.bedrooms %>
            </p>
            <p>Short Description: <%= pr.short_description %>
            </p>
            <p>Description: <%= pr.description %>
            </p>
            <div>
                <a class="btn btn-outline-dark active" href="http://localhost:9000/reservations/newuser"> Reserve property</a>
            </div>
            <form action="/users/ratings/new">
                <br>
                <div class="form-group col-md-2">
                    <button type="submit" id="add" class="btn btn-outline-dark active">Rate Property</button>
                </div>
                <br>
            </form>
            <form action="/users/favorites/<%= pr._id %>" method="POST">
                <div class="form-group col-md-2">
                    <button type="submit" id="add" class="btn btn-outline-dark active">Add to favorites</button>
                </div>
            <br>
            </form>
        </div>
    </div>
    <p>
        <br>
        <a class="btn btn-outline-dark active" href="/users/properties">Back to list</a>
    </p>

    <%- include('partials/footer') %>